
body {

	background-color: Lavender; 
	font-family: Microsoft Sans Serif;
}
nav {
	text-align: center;
	background: SkyBlue;
}
nav a {
	
	font-size: 20px;
	padding: 20px 30px;
}
h1 {
	text-align: center;
}
h1 { font-size: 300%; }

#p1 {
	color: blue;
}